.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 150px);

  .form {
    width: 25%;
    margin: auto;
  }

  .submit {
    width: 100%;
  }
}
