.field-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid rgb(16 24 40 / 0.08);
  color: #354052;
  background-color: #ffffff;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  padding-left: 0.5rem;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  padding-right: 0.5rem;
  --tw-ring-shadow: 0 0 #0000;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --tw-shadow-colored: 0px 1px 2px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  .field-content {
    display: block;
  }
  .field-op {
    display: none;
  }

  &:hover {
    --tw-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06),
      0px 4px 8px -2px rgba(16, 24, 40, 0.1);
    --tw-shadow-colored: 0px 2px 4px -2px var(--tw-shadow-color),
      0px 4px 8px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    .field-content {
      display: none;
    }
    .field-op {
      display: flex;
    }
  }
}

.field-op {
}

.add-field {
  width: 24px;
  height: 24px;
  cursor: pointer;
  text-align: center;
  &:hover {
    background-color: rgb(200 206 218/0.2);
    border-radius: 5px;
  }
}
