.field-item {
  display: flex;
  align-items: center;
  border: 0.5px solid rgb(16 24 40 / 0.08);
  color: #354052;
  background-color: #ffffff;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  padding-left: 0.5rem;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  padding-right: 0.5rem;
  --tw-ring-shadow: 0 0 #0000;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --tw-shadow-colored: 0px 1px 2px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  &:hover {
    background-color: rgb(9 9 11 / 0.03);
  }
}
