.container {
  .delete-container {
    &:hover {
      background-color: #fee4e2;
      color: #d92d20;
    }
  }
}

.condition-container {
  position: absolute;
  margin-top: 10px;
  padding: 10px;
  z-index: 999;
  --tw-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06),
    0px 4px 8px -2px rgba(16, 24, 40, 0.1);
  --tw-shadow-colored: 0px 2px 4px -2px var(--tw-shadow-color),
    0px 4px 8px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border: 1px solid rgb(16 24 40/0.08);
  border-radius: 5px;
  background-color: rgb(255 255 255/0.95);
  width: 240px;

  .hover {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: rgb(9 9 11 / 0.03);
    }
  }
}

.condition-item {
  background-color: rgb(200 206 218/0.25);
  margin-top: 10px;
  border-radius: 8px;
  &:first-child {
    margin-top: 0;
  }
}

.shadow {
  --tw-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --tw-ring-shadow: 0 0 #0000;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-shadow-colored: 0px 1px 2px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.switch-condition-type {
  display: flex;
  cursor: pointer;
  width: 51px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 2px 4px;
  border: 1px solid rgb(16 24 40/0.14);
  border-radius: 8px;
  color: #296dff;
}

.line {
  border-top-width: 0px;
  position: absolute;
  width: 60px;
  height: 138px;
  left: -14px;
  top: 39px;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  border-right-width: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-width: 0px;
  border-top-width: 0px;
}
