.draw-flow-container {
  height: calc(100vh - 60px);
  display: flex;
}

.flow-operation-container {
  width: 38px;
  // min-height: 230px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 3px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);

  .hover {
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    margin-top: 16px;
    &:hover {
      background-color: rgb(200 206 218 / 0.2);
      border-radius: 8px;
    }
  }

  .img {
    width: 16px;
    height: 16px;
  }
}

.app-info {
  background-color: #fff;
  position: relative;
  transition: width 0.5s;
  .app-name {
    font-size: 14px;
    font-weight: 600;
    color: #354052;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .app-desc {
    margin-top: 10px;
    font-size: 10px;
    font-weight: 500;
    color: #676f83;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .fold-panel {
    position: absolute;
    
  }
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: grab;
}
