.draw-flow-container {
  height: calc(100vh - 60px);
}

.flow-operation-container {
  width: 38px;
  // min-height: 230px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 3px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);

  .hover {
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    margin-top: 16px;
    &:hover {
      background-color: rgb(200 206 218 / 0.2);
      border-radius: 8px;
    }
  }

  .img {
    width: 16px;
    height: 16px;
  }
}
