.container {
  width: 340px;
  position: relative;
  height: 160px;
  border-radius: 10px;
  padding-top: 16px;
  padding-left: 4px;
  padding-right: 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
}

.hover {
  &:hover {
    background-color: rgb(200 206 218/0.2);
    border-radius: 5px;
  }
}
